# ===== Python / general =====
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.tmp
.DS_Store

# ===== Conda / virtual envs =====
.env
.venv
conda-env/
chemml2/
*.lock

# ===== Enumeration outputs (generated) =====
library_final_products*.csv
library_final_products*.sdf
library_plate_map_*.csv
*_preview.png
destination_plate_layout*.csv
source_plate_layout*.csv
authoritative_plate_map*.csv
qc_report*.txt
README_*updated*.md


# ===== Opentrons artifacts (generated later) =====
opentrons/protocols/generated/
